.modal {
    &-register {
        padding-top: 100px;
        padding-bottom: 100px;
        display: block;
        position: relative;
        .modal-content {
            border: 0;
            border-radius: 24px;
            box-shadow: 0px 0px 20px rgb(143 143 143 / 25%);
        }
        .modal-body {
            padding: 0 66px 56px;
        }
    }
    &-body {
        &-icon {
            span {
                background-color: $secondary-light;
                box-shadow: 0px 3px 5px rgba(1, 156, 206, 0.25);
                width: 64px;
                height: 64px;
                display: inline-block;
                border-radius: 9999px;
                line-height: 64px;
            }
        }
        &-title {
            font-size: 28px;
            font-weight: 600;
            line-height: 36px;
        }
        &-description {
            font-size: 12px;
            line-height: 20px;
        }
    }
}
