.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    &::before {
        content: "";
        background-color: $light-gray;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 2px;
        width: 100%;
    }

    .progress {
        background-color: $secondaryColor;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 2px;
        width: 0%;
        transition: 0.4s ease;
    }

    .circle {
        background-color: $black-line;
        color: $black-gray;
        border-radius: 50%;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid $black-line;
        transition: 0.4s ease;
        position: relative;
    }

    .circle {
        span {
            position: absolute;
            bottom: -1.7rem;
            min-width: 100px;
        }
    }

    .circle.active-progress {
        background-color: $secondaryColor;
        border-color: $secondaryColor;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: $white;
        width: 32px;
        height: 32px;
    }

    .circle.active-progress {
        span{
            color: $secondaryColor;
        }
    }
}
