/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/import
/vendor
/packages
.history/
.phpintel/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
.vscode/
.idea
/.env
public/themes
public/mix-manifest.json
public/admin
public/template
public/dym
/html/node_modules/
/html/mix-manifest.json
/html/package-lock.json
/html/static
/html/images
*.DS_Store

